# Data files (Never upload to GitHub!)
*.parquet
*.csv
*.pkl


# Python Virtual Environments
venv/
.venv/
env/

# IDEs and OS junk
.idea/
.vscode/
.DS_Store
__pycache__/
*.ipynb_checkpoints/

# Secrets & Configs
.env

#folder
draft/
wandb/