# Data files (Never upload to GitHub!)
*.parquet
*.csv
!notebooks/taxi_zone_lookup.csv
*.pkl

# Allow tracking model files in the git repository
!models/
!models/**/*.pkl
!models/**/*.json



# Python Virtual Environments
venv/
.venv/
env/

# IDEs and OS junk
.idea/
.vscode/
.DS_Store
__pycache__/
*.ipynb_checkpoints/

# Secrets & Configs
.env

#folder
draft/
wandb/